header {
    justify-self: center;
    background-image: url(virus.jpg);
    background-color: darkgrey;    
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    align-content: space-between;
    margin: 50px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 20px;
    padding-bottom: 20px;
      
}
.main, 
.stats {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left: 2px solid black;
   
}
.policy {
    order: -1;
    flex-grow: 2;
}

h1 {
    text-align: center;
    padding-top: 2%;
    margin-top: 0;
    font-weight: bold;
    font-size: 50px;   
    color: white;
    text-shadow: 10px 10px 50px black; 
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    color: orangered;
}
a:active {
    color: green;
}
nav li {
    padding: 20px;
    margin-top: 5px;
    background-color: navy;
    border: 5px solid white;
    box-shadow: 5px 5px 20px black;
    flex: 1;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}

body {
    background-color: honeydew;
}

footer {
    background-color: darkgrey;
    text-align: right;
    padding: 0.25%;
}

.copyright{
    color: white;
}

/* sticky footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

