
header {
    justify-self: center;
    background-image: url(virus.jpg);
    background-color: darkgrey;  
}

#navigation {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    align-content: space-around;#
    margin: 50px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display:flex;
    justify-content: space-around;
    margin-top: 2%;
}
   
.policy {
    order: -1;
    align-items: center;
    flex-grow: 1.5;
    align-content: space-around;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 3%;
    font-size: 18px;
    margin-top: 2%;
    margin-left: 2%
}

.sidebar {
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 2%;
}

.requirements{
    border: 5px solid whitesmoke;
    background-color: white;
    margin-bottom: 5%;
    box-shadow: 5px 10px 50px gray;
    padding-right:10%;
}

  .sick{
    border: 5px solid whitesmoke;
    background-color: white;
    box-shadow: 5px 10px 50px gray;
    padding-right:10%;
   }

.suggestions {
    float: right;
  }

 #title {
    text-align: center;
    padding-top: 2%;
    margin-top: 0;
    font-weight: bold;
    font-size: 50px;   
    color: white;
    text-shadow: 10px 10px 50px black; 
    font-family: Arial, Helvetica, sans-serif;
}
/*navigation link formatting*/

a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    color: orangered;
}
a:active {
    color: green;
}
nav li {
    padding: 20px;
    margin-top: 5px;
    background-color: navy;
    border: 5px solid white;
    box-shadow: 5px 5px 20px black;
    flex: 1;
    text-align: center;
    margin-right: 10px;
}

body {
    background-color: honeydew;
    height: 100vh;
}

footer {
    background-color: darkcyan;
    background-image: url(virus.jpg);
    text-align: right;
    padding: 0.25%;
    margin: 0;
}

.copyright{
    color: white;
}

/* sticky footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

/*main content formating*/

.ceo {
    border: black solid 10px;
    width: 15%;
    height: 20%;
    float: left;
    margin-right: 2%;
    margin-bottom: 5px;
    margin-top: 2%;
}

h2 {
    text-align: center;
    margin-top:0;
    padding-top: 2%;
} 

.notes {
  text-align: center;
  padding-left: 10%;
}
.thumbtack {
    width: 25px;
    height: 25px;
    position: relative;
    left: 50%;
}


   /* marquee*/

.stats {
 overflow: hidden;
 position: relative;
}
.marquee {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: firebrick;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
/*end marquee*/


/*comments form */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .form1 {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    position: absolute;
    top: 83%;
    right:40%;
  }
  
  form {
    max-width: 300px;
    /* margin: 10px auto; */
    padding: 15px 15px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  .suggestionform {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 15px 30px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 5px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }
/*end form*/  

/*hamburger menu*/
/* Style the hamburger menu */
nav a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
nav a.icon:hover {
  background-color: #ddd;
  color: black;
}
/* Hide the links inside the hamburger navigation menu  */
nav #myLinks {
  display: none;
}
/* Style hamburger navigation menu links */
nav #mylinks {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/*media queries*/
@media (min-width: 481px) {
  nav a.icon {
    display: none;
  }
}
  
@media (max-width: 481px) { 
  nav li {
    display: none;
  }
}
@media (max-width: 600px) {
  .ceo {
    display: none;
  }
}