
header {
    justify-self: center;
    background-image: url(virus.jpg);
    background-color: darkgrey;  
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    align-content: space-around;
    margin: 50px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
      
}
.main, 
.stats {
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin: 0; */
    
   
}
.policy {
    order: -1;
    align-items: center;
    border: black solid 5px;
    flex: 4;
    align-content: space-around;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
}

.title {
    text-align: center;
    padding-top: 2%;
    margin-top: 0;
    font-weight: bold;
    font-size: 50px;   
    color: white;
    text-shadow: 10px 10px 50px black; 
    font-family: Arial, Helvetica, sans-serif;
}
/*navigation link formatting*/

a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    color: orangered;
}
a:active {
    color: green;
}
nav li {
    padding: 20px;
    margin-top: 5px;
    background-color: navy;
    border: 5px solid white;
    box-shadow: 5px 5px 20px black;
    flex: 1;
    text-align: center;
    margin-right: 10px;
}

body {
    background-color: honeydew;
}

footer {
    background-color: darkcyan;
    background-image: url(virus.jpg);
    text-align: right;
    padding: 0.25%;
    margin: 0;
}

.copyright{
    color: white;
}

/* sticky footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

/*main content formating*/
.reported {
    margin: 0;
    text-align: center;
    align-items: center;
    padding-bottom: 20%;
    padding-top: 5%;
}

.stats {
    flex-direction: column;
    flex: 1;
    margin: 0;
    align-items: space-around;
    padding-bottom: 10%;
    align-content: center;
    background-color: darkgrey;
    border: 5px solid black;
    border-left:none;

}
.main {
    align-content: flex-start;
   /* text-align: center;*/
    margin: 0;
        
}
.confirmed {
    margin: 0;
    align-items: center;
    padding-top: 5%;
    text-align: center;
}
.sidebar {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding-top: 10%;
}

.number {
    color: firebrick;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.message {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    text-decoration: underline;
    text-align: center;
    padding-left: 15%;
}
.ceo {
    border: black solid 10px;
    width: 20%;
    height: 35%;
    float: left;
    margin-right: 2%;
    margin-bottom: 10px;
}